:root {
    --color-black: #000;
    --color-white: #fff;
    --color-dark-charcoal: #333;
    --color-light-gray: #D9D9D9;
}

html {box-sizing:border-box;

}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    font-family: sans-serif;
  }
  
  .container {
    max-width: 82rem;
    margin: 0 auto;
  }
  
  /* header and footer */
  
  .header-menu, .footer-menu, .nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .header-menu a, .footer-menu a, .cover-navbar a {
    color: var(--color-black);
    text-decoration: none;
  }
  
  .header-menu__list, .footer-menu__list, .cover-navbar__list {
    list-style-type: none;
    padding-left: 0;
    display: flex;
    margin: 0;
  }

  
  .header-menu__click, .footer-menu__click, .cover-navbar__click {
    padding: 1rem;
    position: relative;
    display: block;
    cursor: pointer;
  }
  
  .strike,
  .strike:hover {
    text-decoration: line-through;
  }


/* main */

.carousel-inner__row {
  display: flex;
}

.carousel-inner__column {
  flex: 50%;
  border-top: 1px solid black;
    border-bottom: 1px solid black;
    position: relative;
}

.carousel-inner__column:after {
    content: '';
    display: block;
    position: absolute;
    border-top: 0.5px solid white;
    border-bottom: 0.5px solid white;
}
    

.carousel-inner__title, .cover-navbar__list {
  font-family: Nanum Myeongjo, serif;
  font-weight: 600;
  font-size: 15px; 
}

.carousel-inner__title {
  padding-top: 30px;
  display: block;
    letter-spacing: 3px;
    float: left;
}

.carousel-inner__paragraph {
  font-family: Inter, sans-serif;
  font-weight: bold;
  font-size: 45px;
  display: inline-block;
  padding-right: 5px;
  margin-top: 0;
  text-align: left;
}

.carousel-inner__pagecounter {
font-family: Nanum Myeongjo, serif;
  font-weight: 700;
  font-size: 12px;
  margin-right: 310px;
}


.nav-container {
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: space-between;
}


.carousel-inner__img img {
    width: 100%;
}

@media screen and (max-width: 600px) {
  .main-case {
    width: 500px;
  }
}

.carousel {
  margin: 0 auto;
  overflow: hidden;
  text-align: center;
}

.slides {
  display: flex;
}

.slides-item {
  display: flex;
  flex-shrink: 0;
  justify-content: left;
  margin: 0 1rem;
  position: relative;
  transform: scale(1);
  transform-origin: center center;
  transition: transform .5s;
  width: 100%;
}

.main-case__mandate,.main-case__ichuman,.main-case__icinsights,.main-case__ichealth,.main-case__icfutures,.main-case__ictransformation,.main-case__iccx,.main-case__icbrand,.main-case__icdesign,.main-case__leadership,.main-case__food,.main-case__bears,.main-case__game,.main-case__joinus,.main-case__contactus {
  padding-right: 20px;
}

.main-case a:active {
  color: none;
  }
.main-case a:not(.active):hover {
  color: var(--color-light-gray);
}
