<!DOCTYPE html>
<html lang="zxx">

<head>
  <meta charset="UTF-8" />
  <title>Idea Couture</title>
  <link href="normalize.css" rel="stylesheet" />
  <link href="css/main.css" rel="stylesheet" />
</head>

<body>
  <!--header-->
  <header class="header">
    <div class="container">
      <nav class="header-menu">
        <img class="header-menu__logo" src="logo.png" alt="logo">
        <ul class="header-menu__list">
          <li class=header-menu__click><a class="strike" href="#!">who we are</a></li>
          <li class=header-menu__click><a class="strike" href="#!">what we do</a></li>
          <li class=header-menu__click><a class="strike" href="#!">join us</a></li>
          <li class=header-menu__click><a class="strike" href="#!">contact us</a></li>
        </ul>
        </ul>
      </nav>
    </div>
  </header>

<body>
<!--this is css carousel in cover section-->
.carousel-wrapper {
position: relative;
width: 500px;
display: block;
}

.carousel-item {
position: absolute;
}

.arrow-prev, .arrow-next {
position: absolute;
}

.item1 {
background: url('img1.jpg')
background-size: cover;
}



<!--this is the carousel in cover section-->
<div class="carousel-wrapper">

<span id="item1"></span>
<span id="item2"></span>
<span id="item3"></span>
<span id="item4"></span>
<span id="item5"></span>
<span id="item6">></span>
<span id="item7"></span>
<span id="item8"></span>
<span id="item9"></span>
<span id="item10"></span>
<span id="item11"></span>

<div class="carousel-item item1">
 <a href="#item11" class="arrow-prev arrow"></a>
 <a href="#item2" class="arrow-next arrow"></a>
</div>

<div class="carousel-item item2">
 <a href="#item1" class="arrow-prev arrow"></a>
 <a href="#item3" class="arrow-next arrow"></a>
</div>


<div class="carousel-item item2">
 <a href="#item1" class="arrow-prev arrow"></a>
 <a href="#item3" class="arrow-next arrow"></a>
</div>

<div class="carousel-item item3">
 <a href="#item2" class="arrow-prev arrow"></a>
 <a href="#item4" class="arrow-next arrow"></a>
</div>

<div class="carousel-item item4">
 <a href="#item3" class="arrow-prev arrow"></a>
 <a href="#item5" class="arrow-next arrow"></a>
</div>

<div class="carousel-item item5">
 <a href="#item4" class="arrow-prev arrow"></a>
 <a href="#item6" class="arrow-next arrow"></a>
</div>

<div class="carousel-item item6">
 <a href="#item5" class="arrow-prev arrow"></a>
 <a href="#item7" class="arrow-next arrow"></a>
</div>

<div class="carousel-item item7">
 <a href="#item6" class="arrow-prev arrow"></a>
 <a href="#item8" class="arrow-next arrow"></a>
</div>

<div class="carousel-item item8">
 <a href="#item1" class="arrow-prev arrow"></a>
 <a href="#item3" class="arrow-next arrow"></a>
</div>

<div class="carousel-item item9">
 <a href="#item8" class="arrow-prev arrow"></a>
 <a href="#item10" class="arrow-next arrow"></a>
</div>

<div class="carousel-item item10">
 <a href="#item9" class="arrow-prev arrow"></a>
 <a href="#item11" class="arrow-next arrow"></a>
</div>

<div class="carousel-item item11">
 <a href="#item10" class="arrow-prev arrow"></a>
 <a href="#item1" class="arrow-next arrow"></a>
</div>

</div>
</body>