<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>Idea Couture Web Components</title>
  <link href="normalize.css" rel="stylesheet" />
  <link href="../css/main.css" rel="stylesheet" />
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@500&family=Nanum+Gothic&family=Nanum+Myeongjo&display=swap" rel="stylesheet">
</head>

<body>
  <h1>Idea Couture Web Components</h1>

    <h2>Headers Goes Here</h2>
      <img src="PageHeader.PNG" alt="header">
  <div class="header-menu__logo">
    <h3>Header Logo</h3>
      <img src="img/logo.PNG" alt="logo">
  </div> 
      <h3>Header list</h3><br>
      <h4>Fonts: Nanum Gothic</h4><br>
      <p>who we are</P><br>
      <p>what we do</p><br>
      <p>join us</p><br>
      <p>contact us</p><br>

    
     <h2>Cover Section Goes Here</h2>
      <img src="img/PageHero.PNG" alt="Page Hero">
  <section>
      <h3>Cover Section Title</h3>
      <h4>font-family: Nanum Myeongjo, serif</h4>
      <h4>font-weight: 300</h4>
      <h4>font-size: 15px</h4>
  

      <p class="carousel-inner__title">
        CAMPBELLS //
      </p class="carousel-inner__title">
      <p class="carousel-inner__title">
        STARBUCKS //
      </p>
      <p class="carousel-inner__title">
        OUR BOOKS //
      </p>
      <p class="carousel-inner__title">
        BURBERRY //
      </p>
      <p class="carousel-inner__title">
        SAMSUNG //
      </p>
      <p class="carousel-inner__title">
        CISCO //
      </p>
      <p class="carousel-inner__title">
        FEDEX //
      </p>
      <p class="carousel-inner__title">
        LULULEMON //
      </p>
      <p class="carousel-inner__title">
        UBS //
      </p>
      <p class="carousel-inner__title">
        CITI //
      </p>
      <p class="carousel-inner__title">
        PEPSI //
        </p><br>
  
<p>
   <img src="img/PageHero_header.PNG" alt="Page Hero paragraph">
    </p>
 
  </section>
      <h3>Cover Section Paragraph</h3>
      <h4>Fonts: Inter</h4>
      <h4>font-weight: bold</h4>
      <h4>font-size: 45px</h4>

      <p class="carousel-inner__paragraph">
        design thinking to reset platforms for growth
      <p class="carousel-inner__paragraph">
        design thinking to reinvent the beverage experience
      </p>
     <p class="carousel-inner__paragraph">
        design thinking in practice
      </p>
      <p class="carousel-inner__paragraph">
        design thinking to strengthen the core
      </p>
      <p class="carousel-inner__paragraph">
        design thinking to open up new categories for growth
      </p>
      <p class="carousel-inner__paragraph">
        design thinking to reinvent brand futures
      </p>
      <p class="carousel-inner__paragraph">
        design thinking to create and institutionalize a cx culture
      </p>
      <p class="carousel-inner__paragraph">
        design thinking to reinvent retail experiences
      </p>
      <p class="carousel-inner__paragraph">
        design thinking to reimagine wealth management
      </p>
      <p class="carousel-inner__paragraph">
        design thinking to imagine new banking platforms
      </p>
      <p class="carousel-inner__paragraph">
        design thinking to uncover "next" categories
      </p>

      <h3>Cover Section Page Counter</h3>
      <h4>font-family: Nanum Myeongjo, serif</h4>
      <h4>font-weight: 300</h4>
      <h4>font-size: 10px</h4>
<div class="carousel-inner__pagecounter">
      <p>
        1 / 11
      </p>
      <p> 2 / 11 </p>
      <p>
        3 / 11
      </p>
      <p>
        4 / 11
      </p>
      <p>
        5 / 11
      </p>
      <p>
        6 / 11
      </p>
      <p>
        7 / 11
      </p>
      <p>
        8 / 11
      </p>
      <p>
        9 / 11
      </p>
      <p>
        10 / 11
      </p>
      <p>
        11 / 11
      </p>
</div>
   
      <h3>Cover Section Navbar</h3>
      <h4>Fonts:Nanum Myeongjo</h4>
      <h4>font-weight: 300</h4>
      <h4>font-size: 15px</h4>
                                     
      <ul class="cover-navbar__list">
        <li><a href="#!">PREV</a></li>
        <li><a href="#!">NEXT</a></li>
      </ul>
   
      <h3>Cover Section Images</h3>
      <img src="img/img1.JPG" alt="image1">
      <img src="img/img2.JPG" alt="image2">
      <img src="img/img3.JPG" alt="image3">
      <img src="img/img4.JPG" alt="image4">
      <img src="img/img5.JPG" alt="image5">
      <img src="img/img6.JPG" alt="image6">
      <img src="img/img7.JPG" alt="image7">
      <img src="img/img8.JPG" alt="image8">
      <img src="img/img9.JPG" alt="image9">
      <img src="img/img10.JPG" alt="image10">
      <img src="img/img11.JPG" alt="image11">
                                     

    <h2>Main Cases Goes Here</h2>
    <div class="main-case">
      <a class="main-case__mandate" href="mandate.html"><img src="img/mandate.JPG" alt="Screenshot of mandate page"></a>
      <a class="main-case__ichuman" href="ichuman.html"><img src="img/ichuman.JPG" alt="Screenshot of  ic human page"></a>
      <a class="main-case__icinsights" href="icinsights.html"><img src="img/icinsights.JPG" alt="Screenshot of ic insights page"></a>
      <a class="main-case__ichealth" href="ichealth.html"><img src="img/ichealth.JPG" alt="Screenshot of ic health page"></a>
      <a class="main-case__icfuture" href="icfuture.html"><img src="img/icfuture.JPG" alt="Screenshot of ic future page"></a>
      <a class="main-case__ictransformation" href="ictransformation.html"><img src="img/ictransformation.JPG" alt="Screenshot of ic transformation page"></a>
      <a class="main-case__iccx" href="iccx.html"><img src="img/iccx.JPG" alt="Screenshot of ic cx page"></a>
      <a class="main-case__icbrand" href="icbrand.html"><img src="img/icbrand.JPG" alt="Screenshot of ic brand page"></a>
      <a class="main-case__icdesign" href="icdesign.html"><img src="img/icdesign.JPG" alt="Screenshot of ic design page"></a>
      <a class="main-case__leadership" href="leadership.html"><img src="img/leadership.JPG" alt="Screenshot of ic leadership page"></a>
      <a class="main-case__food" href="food.html"><img src="img/food.JPG" alt="Screenshot of food page"></a>
      <a class="main-case__bears" href="bears.html"><img src="img/bears.JPG" alt="Screenshot of bears page"></a>
      <a class="main-case__game" href="icfutures.html"><img src="img/game.JPG" alt="Screenshot of game page"></a>
      <a class="main-case__joinus" href="joinus.html"><img src="img/joinus.JPG" alt="Screenshot of join us page"></a>
      <a class="main-case__contactus" href="contactus.html"><img src="img/contactus.JPG" alt="Screenshot of contact us page"></a>
    </div>
    </main>
  
  <footer>
  <h2> Footer Section Goes here</h2>
     <img src="PageFooter.PNG" alt="footer">
  <div class="footer__logo">
    <h3>Footer Logo</h3>
      <img src="img/PageFooter.PNG" alt="Footer logo">
  </div> 
    <h3> Footer List</h3>
  <h4>Fonts: Nanum Gothic</h4><br>
  <p>who we are</P><br>
      <p>what we do</p><br>
        <p>join us</p><br>
        <p>contact us</p>
        </footer>
</body>

</html>
