<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <title>Idea Couture Web Components</title>
  <link href="normalize.css" rel="stylesheet" />
  <link href="css/main.css" rel="stylesheet" />
  <link href="https://fonts.googleapis.com/css2?family=Almarai:wght@700&family=Nanum+Gothic&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Almarai:wght@700&family=Nanum+Gothic&family=Nanum+Myeongjo&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Almarai:wght@700&family=Inter:wght@500&family=Nanum+Gothic&family=Nanum+Myeongjo&display=swap" rel="stylesheet">
  
  
</head>

<body>
  <H1>Idea Couture Web Components</h1>
  <!--Header-->
  <h2>Headers Goes Here</h2>
  <img src="PageHeader.PNG" alt="header">
  <div class="header-menu__logo">
    <h3>Header Logo</h>
    <img src="img/logo.PNG" alt="logo">
    <div class="header-menu__list">
      <h3>Header list</h3>
      <h4>Fonts: Nanum Gothic</h4>
      <p>who we are</P>
      <p>what we do</p>
      <p>join us</p>
      <p>contact us</p>

      <!--main-->
      <h2>Cover Section Goes Here</h2>
      <img src="img/PageHero.PNG" alt="Page Hero>
                                      <div class=" cover sectiion title">
      <h3>Cover Section Title</h3>
      <h4>Fonts:Nanum Myeongjo</h4>

      <p>
        CAMPBELLS //
      </p>
      <p>
        STARBUCKS //
      </p>
      <p>
        OUR BOOKS //
      </p>
      <p>
        BURBERRY //
      </p>
      <p>
        SAMSUNG //
      </p>
      <p>
        CISCO //
      </p>
      <p>
        FEDEX //
      </p>
      <p>
        LULULEMON //
      </p>
      <p>
        UBS //
      </p>
      <p>
        CITI //
      </p>
      <p>
        PEPSI //
      </p>
    </div>
    <div class="cover section paragraph">
      <h3>Cover Section Paragraphy</h3>
      <h4>Fonts: Inter</h4>
      <p>
        design thinking to reset platforms for growth
      </p>
      <p>
        design thinking to reinvent the beverage experience
      </p>
      <p>
        design thinking in practice
      </p>
      <p>
        design thinking to strengthen the core
      </p>
      <p>
        design thinking to open up new categories for growth
      </p>
      <p>
        design thinking to reinvent brand futures
      </p>
      <p>
        design thinking to create and institutionalize a cx culture
      </p>
      <p>
        design thinking to reinvent retail experiences
      </p>
      <p>
        design thinking to reimagine wealth management
      </p>
      <p>
        design thinking to imagine new banking platforms
      </p>
      <p>
        design thinking to uncover "next" categories
      </p>
    </div>
    <div class="cover section page counter">
      <h3>Cover Section Page Counter</h3>
      <p>
        1 / 11
      </p>
      <p> 2 / 11 </p>
      <p>
        3 / 11
      </p>
      <p>
        4 / 11
      </p>
      <p>
        5 / 11
      </p>
      <p>
        6 / 11
      </p>
      <p>
        7 / 11
      </p>
      <p>
        8 / 11
      </p>
      <p>
        9 / 11
      </p>
      <p>
        10 / 11
      </p>
      <p>
        11 / 11
      </p>
    </div>

    <div class="cover section navbar">
      <h3>Cover Section Navbar</h3>
      <h4>Fonts:Nanum Myeongjo</h4>
      <ul>
        <li><a href="#!">PREV</a></li>
        <li><a href="#!">NEXT</a></li>
      </ul>
    </div>
    <div class="cover section images">
      <h3>Cover Section Images</h3>
      <img src="img1" alt="image1">
      <img src="img2" alt="image2">
      <img src="img3" alt="image3">
      <img src="img4" alt="image4">
      <img src="img5" alt="image5">
      <img src="img6" alt="image6">
      <img src="img7" alt="image7">
      <img src="img8" alt="image8">
      <img src="img9" alt="image9">
      <img src="img10" alt="image10">
      <img src="img11" alt="image11">
    </div>

    <h2>Main Cases Goes Here</h2>
    <div class="main-case">
      <a class="main-case__mandate" href="mandate.html"><img src="img/mandate.JPG" alt="Screenshot of mandate page"></a>
      <a class="main-case__ichuman" href="ichuman.html"><img src="img/ichuman.JPG" alt="Screenshot of  ic human page"></a>
      <a class="main-case__icinsights" href="icinsights.html"><img src="img/icinsights.JPG" alt="Screenshot of ic insights page"></a>
      <a class="main-case__ichealth" href="ichealth.html"><img src="img/ichealth.JPG" alt="Screenshot of ic health page"></a>
      <a class="main-case__icfuture" href="icfuture.html"><img src="img/icfuture.JPG" alt="Screenshot of ic future page"></a>
      <a class="main-case__ictransformation" href="ictransformation.html"><img src="img/ictransformation.JPG" alt="Screenshot of ic transformation page"></a>
      <a class="main-case__iccx" href="iccx.html"><img src="img/iccx.JPG" alt="Screenshot of ic cx page"></a>
      <a class="main-case__icbrand" href="icbrand.html"><img src="img/icbrand.JPG" alt="Screenshot of ic brand page"></a>
      <a class="main-case__icdesign" href="icdesign.html"><img src="img/icsdesign.JPG" alt="Screenshot of ic design page"></a>
      <a class="main-case__leadership" href="leadership.html"><img src="img/leadership.JPG" alt="Screenshot of ic leadership page"></a>
      <a class="main-case__food" href="food.html"><img src="img/food.JPG" alt="Screenshot of food page"></a>
      <a class="main-case__bears" href="bears.html"><img src="img/bears.JPG" alt="Screenshot of bears page"></a>
      <a class="main-case__game" href="icfutures.html"><img src="img/game.JPG" alt="Screenshot of game page"></a>
      <a class="main-case__joinus" href="joinus.html"><img src="img/joinus.JPG" alt="Screenshot of join us page"></a>
      <a class="main-case__contactus" href="contactus.html"><img src="img/contactus.JPG" alt="Screenshot of contact us page"></a>
    </div>
    </main>
    <h2> Footer Section Goes here</h2>

    <img src="PageFooter.PNG" alt="footer">
    <div class="footer-menu__logo">
     <h3>Footer Logo</h3>
      <img src="img/PageFooter_nav.PNG" alt="footer logo">
      <div class="footer-menu__list">
        <h3>Footer list</h3>
        <h4>Fonts: Nanum Gothic</h4>
        <p>who we are</P>
        <p>what we do</p>
        <p>join us</p>
        <p>contact us</p>
        </footer>
</body>

</html>
